<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Trending now</p>
    <a class="panel-block">
      "Police identify man accused of evading arrest in multi-city pursuit"
    </a>
    <a class="panel-block">
      "Bark week brings families and their pups together for frisbee fun, athletic challenges"
    </a>
    <a class="panel-block">
      "Covid News: C.D.C. Is Investigating Rare Heart Problem After Vaccinations"
    </a>
    <a class="panel-block">
      "76ers guard Danny Green leaves Game 3 with strained calf, status uncertain"
    </a>
    <a class="panel-block">
      "Late penalty drama as Vietnam secure vital three points against Malaysia"
    </a>
    <a class="panel-block">
      "Loki: Tom Hiddleston says Marvel role 'changed my life'"
    </a>
  </nav>
</div>
