<div class="column">
  <nav class="panel">
    <p class="panel-heading">Who to Follow</p>

  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://pdp.edu.vn/wp-content/uploads/2021/01/anh-avatar-dep-dai-dien-facebook-zalo.jpg">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Jack Iowa</strong>
            <small>@catdaumoi</small>
          </p>
        </div>
      </div>
    </article>
  </div>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://ephoto360.com/uploads/effect-data/ephoto360.com/1362b22eb/t5e787cba70ec8.jpg">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Rose Sensei</strong>
              <small>@kolammadoianthian</small>
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://i1.sndcdn.com/avatars-MAYgVKEC8GoyajJz-GO7eLw-t500x500.jpg">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Mixigaming</strong>
              <small>@dochet1989</small>
            </p>
          </div>
        </div>
      </article>
    </div>

  </nav>

</div>
